/* .Cards-Container{
    padding: 0;
    margin: 0;
    background-color: black;
    justify-content: center;
    display: flex;
} */

/* .box{
    background-color: black;

} */
.box .container-inside{
    background-color: red;
}
.Cards-Container .box .container-inside{
    border: 1px solid lightgray;
    /* margin: 20px; */
    margin-top: -2rem;
    margin-bottom: 3rem;
    background-color: white;
    border-radius: 10px;
    color: gray;
    flex-direction: column;

}

.input_container,.input-title-container {
    display: flex;
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin: 10px 20px;
}

.input_container>form ,.input-title-container>form{
    display: flex;
    width: 100%;
}

.input_container>form>input,.input-title-container>form>input {
    border: none;
    outline-width: 0;
    flex: 1;
}

.input_container>form>button {
    border: none;
    background-color: transparent;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

.input_items {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}